<!doctype html>  
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		
		<title>Javascript aux petits oignons</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="icon" type="image/x-icon" href="imgs/js.ico" />
		
		<link href='http://fonts.googleapis.com/css?family=Ranchers|McLaren' rel='stylesheet' type='text/css' />
		
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<script>
			// If the query includes 'print-pdf' we'll use the PDF print sheet
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>
	
	<body>
		
		<div class="reveal">

			<!-- Used to fade in a background when a specific slide state is reached -->
			<div class="state-background"></div>
			
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Javascript aux petits oignons</h1>
					<img src="imgs/js-logo.png" height="200" width="200">
				</section>
				<section>
					<h1>Avant propos</h1>
					<h2>Pourquoi faire du JS de nos jours ? </h2>
					<ul>
						<li class="fragment">Des applications de plus en plus riches</li>
						<li class="fragment">HTML5 + JS s'imposent comme standard (abandon de Flash par Adobe)</li>
						<li class="fragment">Compatible sur quasiment toutes les plateformes</li>
						<li class="fragment">Aucune alternative pour le moment</li>
					</ul>
				</section>
				<section>
					<h1>Lexique</h1>
					<table>
						<tr>
							<td>JS</td><td>JavaScript</td>
						</tr>
						<tr>
							<td>DOM</td><td>Document Object Model presents presents an HTML document as a tree-structure.</td>
						</tr>
						<tr>
							<td>CSS</td><td>Cascading StyleSheet</td>
						</td>
						<tr>
							<td>AJAX</td><td>Asynchrnous Javascript And [Xml]</td>
						</td>
						<tr>
							<td>JSON</td><td>JavaScript Object Notation</td>
						</td>
					</table>
				</section>
				<!-- Part I -->
				<section>
					<section>
						<h1>I. Le constat</h1>
						<img src="imgs/constat/decharge.jpg">
					</section>
					<section>
						<h2>Quick and dirt cookbook</h2>
						<p>La technique du copy/paste</p>
						<img src="imgs/constat/oldbook.jpg" />
					</section>
					<section>
					<h2>Quelques exemples de bon code JS</h2>
<pre>
<code contenteditable class="javascript">
						
     function hello(what) {
         what = "world";
         return "Hello, " + arguments[0] + "!";
     }
    > hello("shazow")
    "Hello, world!"
	</code>
</pre>

<pre>
<code contenteditable class="javascript">

9999999999999999
//=> 10000000000000000

</code>
</pre>
					</section>
					<section>
						<h2>Côté serveur tout est ok</h2>
							<ul>
								<li>Convention de nommage</li>
								<li>Organisation du code</li>
								<li>Best practices</li>
								<li>Design pattern</li>
								<li>Tests unitaires</li>
								<li>Code coverage</li>
							</ul>
					</section>
					<section>
						<h2>Et côté client ?</h2>
							<img src="imgs/constat/pray.jpg"/>
					</section>
					<section>
						<h2>Et côté client ?</h2>
							<ul>
								<li>Des librairies se télescopent</li>
								<li>Code non testé</li>
								<li>Tout est chargé partout (et n'importe comment)</li>
								<li>Code spécifique pour un navigateur</li>
							</ul>
					</section>
					<section>
						<h2>Et côté client ?</h2>
							<ul>
								<li>Qui a déjà débuggué du code JS ?</li>
								<li>Qui a déjà réutilisé son code JS ?</li>
							</ul>
							<p class="fragment">
								<img src="imgs/constat/possimpible.jpg"/>
							</p>
					</section>
				</section>

				<!-- Part 2 -->
				<section>
					<section>
						<h1>II. Rétrospective</h1>
						<h2>Comment en est-on arrivé là?</h2>
					</section>
					<section>
						<h1>La théorie du barbue</h1>
					</section>
					<section>
						<div class="fragment">
							<h3>John McCarthy</h3>
							<p>LISP - 1958</p>
						</div>
						<img src="imgs/beard/1958_lisp_mccarthy.png" />
					</section>
					<section>
						<div class="fragment">
							<h3>Dennis Richie</h3>
							<p>C - 1973</p>
						</div>
						<img src="imgs/beard/1973_c_ritchie.png" />
					</section>
					<section>
						<div class="fragment">
							<h3>Bjarne Stroustrup</h3>
							<p>C++ - 1983</p>
						</div>
						<img src="imgs/beard/1983_cpp_sroutstrup.png" />
					</section>
					<section>
						<div class="fragment">
							<h3>Guido van Rossum</h3>
							<p>Python - 1991</p>
						</div>
						<img src="imgs/beard/1991_python_vanrossum.png" />
					</section>
					<section>
						<div class="fragment">
							<h3>James Gosling</h3>
							<p>Java - 1995</p>
						</div>
						<img src="imgs/beard/1995_java_gosling.png" />
					</section>
					<section>
						<img src="imgs/beard/others.png" />
					</section>
					<section>
						<h2>And Javascript...</h2>
					</section>
					<section>
						<h3>Brendan Eich</h3>
						<p>Javascript - 1995</p>
						<img src="imgs/beard/1995_js_brendan_eich.png" />
						<h3 class="fragment">WTF!</h3>
					</section>
					<section>
						<h2>Est-ce la seule explication?</h2>
					</section>
					<section>
						<h3>Bonus</h3>
						<div class="fragment">
							<h3>Martin Odersky</h3>
							<p>Scala - 2003</p>
						</div>
						<img src="imgs/beard/martin.jpg" />
					</section>
				</section>
				<section>
					<section>
						<h2>Retour sur le langage</h2>
					</section>
					<section>	
						<h3>Il faut tout de même le dire:</h3>
						<img src="imgs/javajavascript.png" alt="java+script" />
					</section>
					<section>
						<blockquote>JavaScript (sometimes abbreviated JS) is a <strong>prototype-based scripting language</strong> that is dynamic, weakly typed and has first-class functions. It is a multi-paradigm language, supporting <strong>object-oriented</strong>, <strong>imperative</strong>, and <strong>functional</strong> programming styles.</blockquote>
						<small>Source : Wikipédia</small>
					</section>
					<section>
						<h3>Les moteurs</h3>
						<table class="fragment">
							<thead>
								<tr>
									<th></th>
									<th>Naviguateur</th>
									<th>Hors Naviguateur</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>V8</td>
									<td>Chrome</td>
									<td>Node.js</td>
								</tr>
								<tr>
									<td>SpiderMonkey</td>
									<td>Netscape</td>
									<td>-</td>
								</tr>
								<tr>
									<td>JägerMonkey</td>
									<td>Firefox</td>
									<td>-</td>
								</tr>
								<tr>
									<td>Nitro</td>
									<td>Safari</td>
									<td>-</td>
								</tr>
								<tr>
									<td>Rhino</td>
									<td>-</td>
									<td>JVM</td>
								</tr>
								<tr>
									<td>Nashorn</td>
									<td>-</td>
									<td>JVM</td>
								</tr>
								<tr>
									<td>Chakra</td>
									<td>IE9</td>
									<td>MSHTML.dll ?</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section>
						<h3>Historique</h3>
							<iframe height='450' width='100%' src='http://timeglider.com/t/d5af1b40d8352b3d?min_zoom=37&max_zoom=46' allowfullscreen></iframe>
					</section>
					<section>
						<h3>Modèle objet</h3>
						<ul>
							<li>Tout est objet sauf <span class="inline-code">null</span> et <span class="inline-code">undefined</span></li>
							<li>Les nombres sont aussi des objets mais attention:
									<pre><code contenteditable class="javascript">
2.toString();	//raises SyntaxError
									</code></pre>
									<pre class="fragment"><code contenteditable class="javascript">
 2..toString();
(2).toString();
 2 .toString();
								</code></pre>
							</li>
						</ul>
					</section>
					<section>
						<h3>JavaScript Object Notation</h3>
						<img src="imgs/json.png" />
	                                        <pre><code contenteditable class="javascript">
var a = {};	// == var a = new Object(); 
						</code></pre>
						<pre><code contenteditable class="javascript">
var myObject = {
	foo : true,		// != myObject.prototype.foo
	bar : 'baz',
	'case' : 1,
	init : function(param){
		return param || null;
	}
};
						</code></pre>
					</section>
					<section>
						<h3>Prototype</h3>
						<ul>
							<li>Modèle objet sans classes!</li>
							<li>Chaque objet a un prototype</li>
							<li>Les membres du prototypes sont propres à l'instance <spab class="inline-code">hasOwnProperty()</span></li>
							<li>Le prototype est mutable</li>
							<li>L'héritage se fait via une chaîne de prototype uniquement</li>
							<li>Plus souple que les classes</li>
							<li>Un prototype peut être vu comme un exemplaire modèle d'une famille d'objet</li>
						</ul>
					</section>
					<section>
						<h4>A simple object</h4>
						<pre><code contenteditable class="javascript">>
//constructor
var Person = function(firstName, lastName) {
  this.firstName = firstName;
  this.lastName = lastName;
};

//add a method to the prototype 
Person.prototype.toString = function() { 
 this.firstName + ' ' + this.lastName; 
};


						</code></pre>
					</section>
					<section>
						<h4>Prototype Chain - Inheritance</h4>
						<pre><code contenteditable class="javascript">>
var Person = {};
var Developer = function() {
	var F = function () {};	//create a fake object
	F.prototype = Person;	//assign Person's prototype to it
        return new F();		//return an instance of fake
};

Person.name = 'Resig';
Person.firstname = 'John';

var jr = new Developer();	
console.log(jr.name);		//Resig		
						</code></pre>
					</section>
					<section>
						<h4>Object.create since EcmaScript 5</h4>
                        <pre><code contenteditable class="javascript">>
var a = {a: 1};
// a ---&gt; Object.prototype ---&gt; null
 
var b = Object.create(a);
// b ---&gt; a ---&gt; Object.prototype ---&gt; null
console.log(b.a); // 1 (inherited)
 
var c = Object.create(b);
// c ---&gt; b ---&gt; a ---&gt; Object.prototype ---&gt; null
 
var d = Object.create(null);
// d ---&gt; null
console.log(d.hasOwnProperty); // undefined, because d doesn't inherit from Object.prototype
						</code></pre>
					</section>
					<section>
						<h3>Scope</h3>
						<pre><code contenteditable class="javascript">
function test(){
	a = 12;		//global
};
var a = -1;
test();
console.log(a); //12
						</code></pre>
					</section>
					<section>
                        <h3>Scope</h3>
                        <pre><code contenteditable class="javascript">
function  test(){
	var a = 32;		//without var, hoising wont work
	function subTest(){
		a+= 1;		//hoising
	}
	subTest();
	console.log(a);	//33
}					
						</code></pre>
					</section>
					<section>
						<h3>Closures</h3>
						<pre><code contenteditable class="javascript">
//test
function callLater(elt, style){
    return (function(){
        if(elt && (typeof style == 'object')){
			elt.css(style);
		}
    });
}
var functRef = callLater($('div'), 'display", 'none');
setTimeout(functRef, 500);
						</code></pre>
					</section>
					<section>
						<h3>Contre les idées reçues</h3>
						<ul>
							<li>Langage fonctionnel</li>
							<li>Modèle objet puissant car extensible</li>
							<li>Rapide</li>
						</ul>
					</section>
					<section>
						<h3>Un framework minute!</h3>
						<pre><code contenteditable class="javascript">>
(function(){	//no globals
var LogicaScript = {
	__elts : [],
	id : function(id){
		if(typeof id == 'string'){
			var elt = document.getElementById(id);
			if(elt){ this.__elts.push(elt); }
		}
		return this; 	//chaining
	},
	style : function(css){
		if(typeof id == 'object'){
			for(elt in this.__elts){ elt.style = css; }
		}
		return this; 	//chaining
	}
	get : function(index){ return this.__elts[index || 0]; }
};
if(!window.__) window.__ = LogicaScript; //available from the browser context
})();
//...
var hiddenElt = __('my-id').style({'display': 'none'}).get();
						</code></pre>
					</section>
					<section>
						<h3>Javascript vs Java</h3>
						<img src="imgs/js_java_bench.jpg" />
						<div>
							<small><a href="http://shootout.alioth.debian.org/u32/javascript.php">shootout.alioth.debian.org</a></small>
						</div>
					</section>
					<section>
						<h3>JS vs Java Math: rendering of a Mandelbulb</h3>
						<img src="imgs/quintic_mandelbulb.jpg" />
						<img src="imgs/math_java_js_mandelbulb.png" />
						<div>
							<small><a href="http://www.redcode.nl/blog/2012/07/java-speed-of-math">http://www.redcode.nl/blog/2012/07/java-speed-of-math</a></small>
						</div>
					</section>
					
					<section>
						<h3>Memoization de fonction rapide en JS</h3>
						<p>En informatique, la mémoization est une technique d'optimisation de code consistant à réduire 
							le temps d'exécution d'une fonction en mémorisant ses résultats d'une fois sur l'autre.</p>
					</section>


					<section>
						<h3>Memoization de fonction rapide</h3>
						<p>Exemple de fonction de memoization</p>
												<pre><code contenteditable class="javascript">
function memo(f) {
  var cache = {};
  return function (arg) {
      if(arg in cache) {
		console.log("hit cache "+arg);
		return cache[arg]
	  }
	  else {
		console.log("cache miss "+arg);
		return cache[arg] = f(arg); 
	  }
  }; 
}
						</code></pre>
					</section>
					
					<section>
						<h3>Memoization de fonction rapide</h3>
						<p>Ajoutons au prototype de base des fonctions JS, une méthode de memoization</p>
												<pre><code contenteditable class="javascript">
Function.prototype.memoize = function(){  
    var self = this;
	var cache = {};  
    return function( arg ){  
      if(arg in cache) {  
        console.log('Cache hit for '+arg);  
        return cache[arg];  
      } else {  
        console.log('Cache miss for '+arg);  
        return cache[arg] = self( arg );  
      }  
    }  
  }  
						</code></pre>
					</section>
					<section>
						<h3>Memoization de fonction rapide</h3>
						<p>Prenons en exemple une suite de Fibonacci</p>
												<pre><code contenteditable class="javascript">
function fib(n){
  return n<2?n:fib(n-1)+fib(n-2);
}
						</code></pre>
						<div class="fragment">	
							<p>En une ligne de code</p>
							<pre><code contenteditable class="javascript">
var fib = fib.memoize();
fib(3);
						</code></pre>
						</div>
					</section>
					<section>
						<div>	
							<p>Résultat</p>
							<pre><code contenteditable class="javascript">
fib(3)
Cache miss for 3
Cache miss for 2
Cache miss for 1
Cache miss for 0
Cache hit for 1
3

						</code></pre>
						</div>	
						<div class="fragment">
							<pre><code contenteditable class="javascript">

fib(3)
Cache hit for 3
3
						</code></pre>
						</div>						
					</section> 
				</section>
				
			<!-- Part III -->
				<section>
					<section>
						<h1>III. Que faire ?</h1>
					</section>
					<section>
						<h3>Invisible JS!</h3>
						<ul>
							<li class="fragment">Coder en Java, compiler vers Javascript
								<div class="fragment">
									<img src="imgs/hide-js/gwt.png" /> 
									<img src="imgs/hide-js/vaadin.png" />
								</div>
							</li>
							<li class="fragment">Utiliser un framework de composants / templates
								<div class="fragment">
									<img src="imgs/hide-js/myfaces.png" />
									<img src="imgs/hide-js/richfaces.png" />
									<img src="imgs/hide-js/zk.png" />
								</div>
							</li>
							<li class="fragment">Utiliser une surcouche, un autre langage
								<div class="fragment">
									<img src="imgs/hide-js/coffeescript.png" />
									<img src="imgs/hide-js/dart.png" />
								</div>
							</li>
						</ul>
					</section>
					<section>
						<h3>Dive into JavaScript!</h3>
						<pre class="fragment"><code contenteditable>
(function(){
	'use strict';

	var developer = {
		skills : [
			{language : 'Java', 	level : 'guru'},
			{language : 'SQL', 	level : 'expert'},
			{language : 'XML', 	level : 'expert'},
			{language : 'C', 	level : 'padawan'},
			{language : 'Bash', 	level : 'padawan'}
		]
	};
	
	developer.bind('after.javascript-overview', function updateMind(){
		
		this.skills.push({
			language 	: 'javascript',
			level		: 'guru'
		});
		
	});
	
})();
						</code></pre>
					</section>
					<section>
						<h3>We need you!</h3>
						<img src="imgs/we_need_you.jpg" />
					</section>
				</section>
			
			<!-- Part IV -->
				<section>
					<section>
						<h1>IV. Utiliser un framework pour faire de la bonne tambouille</h1>
						
					</section>
					<section>
						<h2>Pourquoi utiliser un framework js ?</h2>
						<p>Le JavaScript est un langage qui...</p>
						<ul>
							<li class="fragment">n'est pas complet</li>
							<li class="fragment">n'encourage pas aux bonnes pratiques</li>
							<li class="fragment">ne donne pas un cadre pour faciliter le développement propre</li>
						</ul>
						
					</section>
					<section>
						<h2>Pourquoi utiliser un framework js ?</h2>
						<p>Un framework JS fournit</p>
						<h3 class="fragment">
							un cadre pour le développement</h3>
						<div>
							<blockquote class="fragment">Et aussi un moyen d'éviter les fuites mémoires</blockquote>
						</div>
					</section>
					<section>
						<h2>Quelques (vieux) frameworks ?</h2>
						<ul>
							<li>Prototypes.js + scriptaculo.us</li>
							<li>YUI</li>
							<li>Dojo</li>
							<li>MooTools</li>
						</ul>
					</section>
					<section>
						<h2>L'incoutournable</h2>
						<img src="http://upload.wikimedia.org/wikipedia/fr/b/b3/Jquery-logo.png"/>
						<p><b>jQuery</b> is a fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development.</p>
					</section>
					
					<section>
						<h2>Rapidement</h2>
						<p>Selecteur CSS</p>
<pre><code contenteditable class="javascript">						
$('.toto'); //sélectionne tous les éléments HTML ayant comme class "toto"
</code></pre>
						<p class="fragment">Utilisation</p>
<pre class="fragment"><code contenteditable class="javascript">						
$('.comment p').addClass("cursive");
</code></pre>
<pre class="fragment"><code contenteditable class="javascript">						
$('.comment').click(function() {
	$(this).hide();
});
</code></pre>	
<pre class="fragment"><code contenteditable class="javascript">						
$('div').children().append("&lt;li&gt;New list element&lt;/li&gt;");
</code></pre>	

						<p class="fragment">Plus compliqué ?</p>
					</section>				
					
					<section data-state="alert">
						<h2>Un peu plus compliqué</h2>
						<pre>
<code contenteditable class="javascript">						
$('form').submit(function() {
	$.post('ajax/test.html?'+$(this).serialize(), function(data) {
		$('.result').html(data);
	});
	return false;
});
</code></pre>
					</section>
					<section>
						<h3>jQuery in action</h3>
						<p>Essayons de faire ensemble une interface de sélection d'images</p>
						<ul>
							<li class="fragment">En moins de 10 lignes de codes JS</li>
							<li class="fragment">Flexible</li>
							<li class="fragment">Réutilisable</li>
						</ul>
						<div>
						<a  class="fragment" href="demo/reuseDOM/example1.html" target="demo">Commençons</a>
						</div>
					</section>
					<section>
						<h3>Conclusion de ce petit exemple</h3>
						<ul>
							<li>HTML peut être considéré comme un modèle de données</li>
							<li>Seul la feuille de style CSS doit gérer la présentation</li>
							<li>Le JS peut être considéré comme un contrôleur</li>
						</ul>
					</section>
					<section>
						<h3>jQuery ce n'est pas que cela !</h3>
						<ul>
							<li class="fragment">jQueryUI</li>
							<li class="fragment">jQuery Mobile</li>
							<li class="fragment">des centaines de plugin jQuery (jQuery cookie, GraphUp, jQuerypp...) </li>
						</ul>
					</section>
					<section>
						<h2>Super heroic !</h2>
						<img src="http://angularjs.org/img/AngularJS-large.png"/>
						<p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
					</section>
					<section>
						<h2>AngularJS: create your own HTML tags</h2>
						
						<p>AngularJS permet de créer son propre langage de modélisation en étendant la syntaxe HTML pour rencontrer vos besoins.</p>

						<p>AngularJS respecte de près les règles du MVC (modèle, vue, contrôleur). Il y a de fait une synchronisation entre les données de 
						l'interface utilisateur et les objets JavaScript.</p>
					</section>
					<section>
					
					<pre>
<code contenteditable class="html">	
&lt;!doctype html&gt;
&lt;html ng-app="components"&gt;
  &lt;head&gt;
    &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"&gt;&lt;/script&gt;
    &lt;script src="components.js"&gt;&lt;/script&gt;
    &lt;script src="beers.js"&gt;&lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;tabs&gt;
      &lt;pane title="Localization"&gt;
        Date: {{ '2012-04-01' | date:'fullDate' }} &lt;br&gt;
        Currency: {{ 123456 | currency }} &lt;br&gt;
        Number: {{ 98765.4321 | number }} &lt;br&gt;
      &lt;/pane&gt;
      &lt;pane title="Pluralization"&gt;
        &lt;div ng-controller="BeerCounter"&gt;
          &lt;div ng-repeat="beerCount in beers"&gt;
            &lt;ng-pluralize count="beerCount" when="beerForms"&gt;&lt;/ng-pluralize&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/pane&gt;
    &lt;/tabs&gt;
  &lt;/body&gt;
&lt;/html&gt;					
</code></pre>
			</section>
		</section>
		
		<!-- Part V -->
		<section>
			<section>
				<h1>V. Organiser son code</h1>
				<p>De bons outils, une bonne recette...</p>
			</section>
			<section>
				<h2>Adhérer à son Framework</h2>
				<p><a href="demo/jquery.domselector/sample/example1.html" target="_blank">Exemple de création de plugin jQuery</a></p>
			</section>
			<section>
				<h2>Inclusion et Import</h2>
				<img src="imgs/desert.jpg" class="fragment" />
			</section>
			<section>
				<h3>Module API</h3>
				<img src="imgs/common-js.png" />
				<pre><code contenteditable class="javascript">
//example.js
exports.hello = function() {
  return 'Hello World'
};
				</code></pre>
				<pre><code contenteditable class="javascript">
//test.js				
var example = require('./example.js');
example.hello();
				</code></pre>
			</section>
			<section>
				<h3>Asynchronous Module Definition</h3>
				<img src="imgs/amdjs.png" />
				<pre><code contenteditable class="javascript">
define(function (require) {
	require(['a', 'b'], function (a, b) {
	  //modules a and b are now available for use.
	});
});
				</code></pre>
			</section>
			<section>
				<h3>Require.js</h3>
				<img src="imgs/require-js.png" />
				<div style="margin:2em auto;">
					<ul>
						<li>Structuration du code</li>
						<li>Définition de Web Modules</li>
						<li>Client/Server</li>
						<li>Implémente AMDjs et compatible CommonJs</li>
					</ul>
				</div>
				<p><a href="demo/require.js/index.html" target="_blank">Exemple</a></p>
			</section>
			<section>
				<h3>Le Menu : entrée, plat, dessert</h3>
				<img src="imgs/backbone.png" />
				<blockquote>
				Backbone supplies structure to JavaScript-heavy applications by providing models key-value binding and custom events, 
				collections with a rich API of enumerable functions, views with declarative event handling, 
				and connects it all to your existing application over a RESTful JSON interface.
				</blockquote>
			</section>
			<section>
				<h3>Simplifions le CSS avec LESS</h3>
				<img src="http://cdn.churchm.ag/wp-content/uploads/2011/08/less-logo-180x180.png"/>
				<p>LESS extends CSS with dynamic behavior such as variables, mixins, operations and functions. LESS runs on both the client-side (Chrome, Safari, Firefox) and server-side, with Node.js and Rhino.</p>
			</section>
			<section>
				<h3>Un exemple simple avec LESS</h3>
<pre>
<code contenteditable class="CSS">						
/* LESS */

@color: #4D926F;

#header {
  color: @color;
}
h2 {
  color: @color;
}
</code></pre>
<pre class="fragment">
<code contenteditable class="CSS">						
/* Compiled CSS */

#header {
  color: #4D926F;
}
h2 {
  color: #4D926F;
}
</code></pre>

			</section>
<section>
				<h3>Un exemple simple avec LESS</h3>
<pre>
<code contenteditable class="CSS">						
/* LESS */

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

#header {
  .rounded-corners;
}
#footer {
  .rounded-corners(10px);
}
</code></pre>
<pre class="fragment">
<code contenteditable class="CSS">						
/* Compiled CSS */

#header {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#footer {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
</code></pre>

			</section>
			<section>
				<h3>Un exemple un peu moins simple avec LESS</h3>
<pre>
<code contenteditable class="CSS">						
@base: #f938ab;

.box-shadow(@style, @c) when (iscolor(@c)) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.box { 
  color: saturate(@base, 5%);
  border-color: lighten(@base, 30%);
  div { .box-shadow(0 0 5px, 30%) }
}
</code></pre>


			</section>
<section>
				<h3>Comment l'utiliser ?</h3>
				<h4>En développement</h4>
<pre>
<code contenteditable class="HTML">						
	&lt;link rel="stylesheet/less" type="text/css" href="styles.less"&gt;
	&lt;script src="less.js" type="text/javascript"&gt;&lt;/script&gt;
</code></pre>
				<div class="fragment">
					<h4>En production</h4>
<pre>
<code contenteditable class="bash">						
	$ lessc styles.less &gt; styles.css
</code></pre>
				</div>
			</section>
		</section>

		<!-- Part VI -->
		<section>
			<section>
				<h1>VIII. Tester son code</h1>
				<blockquote>Toujours goûter son plat avant de servir!</blockquote>
			</section>
			<section>
				<h2>Tests unitaires</h2>
				<p>Beaucoup de solutions !</p>
				<img src="imgs/tests/jsunit.png" />
				<img src="imgs/tests/mocha.png" />
				<img src="imgs/tests/jasmine.png" />
				<img src="imgs/tests/qunitjs.png" />
			</section>
			<section>
				<h2>QUnit</h2>
				<ul>
					<li>Assertions clientes</li>
					<li>Organisation en modules</li>
					<li>Tests synchrones / asynchrones</li>
					<li>Manipulation du DOM via les <i>fixtures</i></li>
				</ul>
				<pre><code contenteditable class="javascript">
test("Simple test", function(){
	ok( 1 === 1, "We expect javascript to work");
	equal(1, 1);
});
				</code></pre>
				<p><a href="demo/jquery.domselector/test/index.html" target="_blank">Testons notre plugin jQuery</a></p>
				</section>
				<section>
					<h4>Code HTML</h4>
					<pre><code contenteditable>
&lt;body&gt;
  &lt;div id="qunit"&gt;&lt;/div&gt;
  &lt;div id="qunit-fixture"&gt;
	&lt;div id="target1"&gt;
		&lt;a href="link1"&gt;link1&lt;/a&gt;
		&lt;a href="link2"&gt;link2&lt;/a&gt;
		&lt;a href="link3"&gt;link3&lt;/a&gt;
	&lt;/div&gt;
  &lt;/div&gt;
&lt;/body&gt;
					</code></pre>
				</section>
				<section>
					<h4>Code Javascript</h4>
					<pre><code contenteditable>
module("presence checks");
test("jQuery checks", function() {
	ok( (typeof $ == 'function')); 
	equal(jQuery().jquery, "1.8.0");
});
test("plugin checks", function(){
	ok( (typeof $.fn.domSelector == 'function'));
});

module("selection checks");
asyncTest("simple editing", function(){
	expect(3);
	var $target = $('#target1 > a', $('#qunit-fixture')),
		$link = $target.first(),
		content = 'link1';
	$target.domSelector();
	$target.bind('selection.domselector', function(event, data){
		ok ($link.hasClass('selected'));
		ok( (typeof data == 'string'));
		equal( data, content);
		start();
	});
	$link.trigger('click');
});
					</code></pre>
				</section>
				<section>
					<h2>Automatiser les tests c'est mieux</h2>
					<div class="fragment">
						<img src="imgs/tests/phantomjs.png" />
						<blockquote>PhantomJS is a headless WebKit with JavaScript API. It has fast and native support for various web standards: DOM handling, CSS selector, JSON, Canvas, and SVG.</blockquote>
						<ul>
							<li>S'intègre aux frameworks de tests</li>
							<li>Screen Capture</li>
							<li>Selenium WebDriver :  Ghost Driver</li>
							<li>Network Monitoring</li>
						</ul>
					</div>
				</section>
			</section>
		</section>
		<!-- Part VII -->
		<section>
			<section>
				<h1>VIII. Ingénieurie logicielle</h1>
				<blockquote>Ouvrir son resto!</blockquote>
			</section>
			<section>
				<h2>Exemple de build avec Grunt</h2>
				<img src="imgs/grunt.png" />
				<blockquote>Grunt is a task-based command line build tool for JavaScript projects</blockquote>
			</section>
			<section>
				<h3>Buildons notre plugin</h3>
				<p>Quels besoins ?</p>
				<ul class="fragment">
					<li>Création du header</li>
					<li>Minimification des fichiers</li>
					<li>Lancer les tests unitaires</li>
					<li>Vérifier le code source</li>
				</ul>
			</section>
			<section>
				<h4>package.json</h4>
				<pre><code contenteditable class="javascript">
{
    "name" 			: "domselector",
    "description"   : "A jQuery plugin that enables you use dom elements for selection",
    "version"       : "0.1.0",
    "author": {
        "name"  : "Bertrand Chevrier",
        "email" : "chevrier.bertrand@gmail.com",
        "url"   : "https://github.com/krampstudio"
    },
    "licenses": [{
        "type": "GPL",
        "url" : "http://www.gnu.org/licenses/gpl-3.0.txt"
      }
    ],
    "repository": {
        "type" : "git",
        "url"  : "git://github.com/krampstudio/..."
    },
    "dependencies": {
        "jquery"   : ">=1.7"
    },
    "devDependencies": {
        "grunt" : "0.3.x",
        "qunit" : "1.9.x"
    }
}
				</code></pre>
			</section>
			<section>
				<h4>grunt.js</h4>
				<pre><code contenteditable class="javascript">
module.exports = function(grunt){
	grunt.initConfig({
		pkg: '&lt;json:package.json&gt;',
		meta: {  
			banner: '/* Copyright (c) <%= pkg.author.name %>*/' 
		},
		min : {
			src: 'src/jquery.domselector.js',
			dest: 'jquery.domselector.min.js'
		},
		concat : {
			src : [ '&lt;banner&gt;', 'jquery.domselector.min.js'],
			dest: 'jquery.domselector.min.js'
		},
		qunit : { all : ['test/*.html'] },
		lint : { files : ['src/*.js'] },
		jshint : {
			options: {
				browser : true,
				smarttabs : true
			},
			globals: {jQuery : true}
		}
	});
    grunt.registerTask('default', 'min concat');
};
				</code></pre>
			</section>
			<section>
				<h2>Qualité du code source</h2>
				<h2>JSLint <img src="imgs/versus.png" alt="vs" style="border:none;background:none;" /> JSHint</h2>
			</section>
			<section>
				<h4>Exemple: JSHint smarttabs</h4>
				<img src="imgs/smarttabs.png" class="fragment" />
				<div class="fragment">
<pre><code contenteditable class="javascript">
/*jshint evil:true, boss:true */
</code></pre>
<pre><code contenteditable class="javascript">
jshint : {
	options: {
		browser : true,
		smarttabs : true
	},
	globals: {
		jQuery : true
	}
}
</code></pre>
				</div>
			</section>
			<section>
				<h2>Et la documentation?</h2>
				<div class="fragment">
					<p>JsDoc-toolkit</p>
					<pre><code contenteditable class="javascript">
/**
 * Enables you to select data using the DOM
 * @class DomSelector
 */
var DomSelector = {

	/**
	 * Initialize the selection
	 * 
	 * @memberOf DomSelector
	 * @param {Object} options
	 * @param {String} [options.mode="once"] the selection mode in: once, normal, exclusive
	 * @param {String} [options.selectedClass="selected"] css class applied on selected element
	 */
	_init : function(options){ 
		/* ... */
	}
};
					</code></pre>
				</div>
			</section>
			<section>
				<img src="imgs/doc.png" />
			</section>
			<section>
				<h2>Debugguer votre code avec Firebug ou Chrome developer tools</h2>
				<img src="https://getfirebug.com/releases/lite/latest/screenshots/firebug1.3-img07.png"/><img src="http://i1-news.softpedia-static.com/images/news2/The-Google-Chrome-Developer-Tools-Improves-Network-Info-and-CSS-Editing-2.png"/>
			</section>
		</section>
		<!-- Part VIII -->
		<section>
			<section>
				<h1>VIII. Bonnes pratiques</h1>
				
			</section>
			<section>
				<h3>Use strict</h3>
				<pre>
<code contenteditable class="javascript">						
"use strict";

mistypedVaraible = 17; // throws a ReferenceError

var o = { p: 1, p: 2 }; // !!! syntax error

</code></pre>
				<ul>
					<li>Le mode strict change la syntaxe et le runtime JS</li>
				</ul>
			</section>
			<section>
				<h3>Pas de variables globales</h3>
				<ul>
					<li>Limiter la visibilité des variables en les incluants dans des scopes ou dans des objets globaux</li>
				</ul>
			</section>
			<section>
				<h3>Nommer les fonctions anonymes</h3>
				<pre><code contenteditable class="javascript">						
var anonFunc = function anonFunc() {};

</code></pre>
				<ul>
					<li>Nommer les fonctions anonymes permet de tracer 	l'éxecution en cas d'erreur</li>
				</ul>
			</section>
			
			<section>
				<h3>Le JS n'est pas un langage OOP</h3>
				
				<ul>
					<li>Utiliser le prototypage</li>
					<li>N'hésitez pas à faire de la programmation fonctionnelle</li>
				</ul>
				<pre class="fragment"><code contenteditable class="javascript">						
function forEach(array, action) {
  for (var i = 0; i < array.length; i++)
    action(array[i]);
}

forEach(["Wampeter", "Foma", "Granfalloon"], print);
</code></pre>
	<pre class="fragment"><code contenteditable class="javascript">						
function sum(numbers) {
  var total = 0;
  forEach(numbers, function (number) {
    total += number;
  });
  return total;
}
show(sum([1, 10, 100]));
</code></pre>
			</section>
			<section>
				<h3>Un code asynchrone</h3>
				<p>L'interface ne doit JAMAIS être bloquée par un traitement JS</p>
				<ul>
					<li>Utiliser les méthodes de callback des framework</li>
					<li>Utiliser les web workers</li>
					<li>Deferred et Promise (jQuery)</li>
				</ul>
					<pre class="fragment"><code contenteditable class="javascript">						
function func1(data, textStatus, jqXHR) {
    console.log('success', data);
}

function func2(jqXHR, textStatus) {
    console.log('done', textStatus);
}

$.post('/url/', someData).success(func1).done(func2);
</code></pre>
			</section>
			<section>
				<h3>Gestion des erreurs</h3>
				<pre class="fragment"><code contenteditable class="javascript">						
try {
	// some function/code that can throw
	if (isNaN(value))
		throw new NotNumberException;
	else
	if (value < 0)
			throw new NotPositiveNumberException;
}
catch (e if e instanceof NotNumberException) {
	alert("not a number");
}
catch (e if e instanceof NotPositiveNumberException) {
	alert("not a positive number");
}
	
</code></pre>
			</section>
			<section>
				<h3>Respecter la syntaxe</h3>
				<ul>
					<li>La JavaScript étant très laxiste sur la syntaxe, il est important d'utiliser et de respecter des conventions</li>
					<li>Utiliser des outils comme JSLint ou Closure Linter</li>
				</ul>
				<pre class="fragment"><code contenteditable class="bash">	
&gt; gjslint --strict fixme.js
				
Line 1, E:0010: (New error) Missing semicolon at end of line
Line 2, E:0002: Missing space before "="
Line 2, E:0002: Missing space after "="
Line 4, E:0002: Missing space before "("
Line 4, E:0002: Missing space after ";" in for statement
Line 4, E:0001: Extra space before ")"
Line 6, E:0006: (New error) Wrong indentation: expected any of {2} but got 3
Line 9, E:0121: Illegal comma at end of array literal
Line 12, E:0120: Binary operator should go on previous line "+"
Found 9 errors, including 2 new errors, in 1 files (0 files OK).
</code></pre>
<pre class="fragment"><code contenteditable class="bash">	
&gt; fixjsstyle --strict fixme.js
</code></pre>
			</section>
			<section>
				<h3>Créer vos événements</h3>
				<p>Le DOM a son propre système d'événements, réutiliser le</p>
					<pre class="fragment"><code contenteditable class="javascript">						
$("p").bind("ajaxUpdate", function() { console.log("ajax update); });

$("p").trigger("ajaxUpdate", someArgs);
 .
 .
 .
$("p").trigger("click");
</code></pre>
			</section>
			<!--Synatxe (cf. JSLint)

opérateur de vérité
Utiliser les événements
-->
			
			
		
		</section>
		<!-- Part IX -->
		<section>
			<section>
				<h1>IX. Javascript Everywhere !</h1>
			</section>
			<section>
				<h2>Côté serveur</h2>
				<img src="imgs/node.png" /> 
				<img src="imgs/npm.png" />
			</section>
			<section>
				<h2>Côté client</h2>
				<p>pdf.js, popcorn.js, reveal.js, jasmine.js, underscore.js, require.js, angular.js, jquery, google closure library, extjs,
				sencha, jquery mobile, jake, ejs, haml, async.js, async.j, mootools, impress.js, signals, jquery-ui, rapahael., backbone.js, wakanda, modernizr,
				dojo, yui, processing.js, qunit.js, activerecord.js, date.js, gamejs, sigma, brackets, pine, flac.js, aac.js, aes.js, webkit.js,
				script.aculo.us, $fx(), md5.js, blackbird, typeface.js, swfoject.js, jschart, reflection.js, ie7.js, highlight.js, ...</p>
			</section>
		</section>
		<section>
			<p>Présentation réalisée en HTML avec <span class="inline-code">reveal.js</span>, versionnée avec <span class="inline-code">git</span>.<p>
			<p>Les exemples utilisent <span class="inline-code">twitter bootstrap</span>.</p>
		</section>
			
		</div>	

			<!-- The navigational controls UI -->
			<aside class="controls">
				<a class="left" href="#">&#x25C4;</a>
				<a class="right" href="#">&#x25BA;</a>
				<a class="up" href="#">&#x25B2;</a>
				<a class="down" href="#">&#x25BC;</a>
			</aside>

			<!-- Presentation progress bar -->
			<div class="progress"><span></span></div>
			
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>
			
			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				
				theme: Reveal.getQueryHash().theme || 'default', // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/linear(2d)

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'lib/js/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'lib/js/data-markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/socket.io/socket.io.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
					{ src: 'plugin/speakernotes/client.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
				]
			});
			
		</script>

	</body>
</html>
